body {
    font-family: "Fjalla One", "Open Sans", Arial, "sans-serif";
    background-color: rgba(210, 163, 76, 0.511);
}
#home {
    position: relative; /* allows z-index to work */
    background-image: url(../images/safeguarding-people.jpg);
    height: 550px;
    background-size: cover;
    background-position: center;
}
#home::after {
    content: "";
    position: absolute;
    inset: 10px; /* create a 20px border around the overlay */
    background: rgba(255, 255, 255, 0.6);
    z-index: 1; /* overlay layer */
}

#home h1 {
    color: #ac6c42;
    font-size: 4rem;
    margin-top: 18px;
    margin-bottom: 40px;
}

#home h2 {
    color: #663a1a;
    font-size: 2rem;
    margin-bottom: 10px;
}

#home p {
    color: #73716e;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.hero-content {
    position: relative;
    z-index: 2; /* above overlay */
    height: 100%;
    justify-content: center; /* vertical centering */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* left alignment */
    padding-left: 40px; /* move text away from the edge */
    padding-bottom: 80px; /* adjust this number */
}

.hero-content h1 {
    margin-left: 50px;
    margin-bottom: 100px;
}
.hero-content p {
    max-width: 600px; /* controls how wide the paragraph is */
    margin-left: 50px;
    margin-top: 0; /* removes default browser spacing */
}

.hero-btn {
    background: #ac6c42;
    color: white;
    padding: 10px 20px;
    min-width: 180px; /* all buttons will be at least this wide */
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.hero-links {
    position: absolute;
    bottom: 100px; /* adjust to move buttons up/down */
    left: 90px; /* aligns with text */
    display: flex;
    gap: 30px;
}
.three-box-section {
    display: flex;
    justify-content: center; /* keeps them nicely centred */
    gap: 90px; /* space *between* the boxes */
    margin: 40px 0;
}
.info-box {
    flex: 1;
    max-width: 400px; /* <<< tweak this number to gauge best size */
    background: #b1b2b4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.info-box h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: black;
}
.info-box p {
    line-height: 1.5;
    color: #73716e;
}
