body {
    font-family: "Open Sans", Arial, "sans-serif";
    background-color: rgba(210, 163, 76, 0.511);
}
#home {
    position: relative; /* allows z-index to work */
    background-image: url(../images/safeguarding-people.jpg);
    height: 550px;
    background-size: cover;
    background-position: center;
}
#home::after {
    content: "";
    position: absolute;
    inset: 10px; /* create a 20px border around the overlay */
    background: rgba(255, 255, 255, 0.6);
    z-index: 1; /* overlay layer */
}
.hero-content {
    position: relative;
    z-index: 2; /* above overlay */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    align-items: flex-start; /* left alignment */
    padding-left: 40px; /* move text away from the edge */
}

#home h1 {
    color: #fff;
    font-size: 3rem;
    margin-top: 18px;
    margin-bottom: 10px;
}

#home h2 {
    color: #663a1a;
    font-size: 2rem;
    margin-bottom: 10px;
}

#home p {
    color: #73716e;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.hero-btn {
    background: #663a1a;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}
